2016 Ford World Women's Curling Championship
============================================

Using the results of the round robin play, try to predict who will win the entire bonspiel.

In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy
import pandas
import seaborn

seaborn.set(style='whitegrid')

In [2]:
filename = 'data/2016FordWorld-women.csv'

data = pandas.read_csv(filename)
data.head()

,Team1,Team2,final1,final2,LSFE,e1,e1scoring,e2,e2scoring,e3,...,e7,e7scoring,e8,e8scoring,e9,e9scoring,e10,e10scoring,e11,e11scoring
0,Brown-USA,Feltscher-SUI,4,5,1,1,1,2,2,1,...,1,1,1,2,1,1,1,2,NaN,NaN
1,Fujisawa-JAP,Kauste-FIN,7,5,2,1,2,2,1,1,...,0,NaN,1,1,1,2,NaN,NaN,NaN,NaN
2,Sidorova-RUS,Apollonio-ITA,8,2,1,2,1,1,1,3,...,1,2,1,1,NaN,NaN,NaN,NaN,NaN,NaN
3,Carey-CAN,Nielsen-DEN,8,7,2,3,2,1,2,2,...,1,1,1,2,3,1,1,2,1,1
4,Apollonio-ITA,Fujisawa-JAP,3,10,2,0,NaN,3,2,1,...,1,1,2,2,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.describe()

,final1,final2,LSFE,e1,e1scoring,e2,e2scoring,e3,e3scoring,e4,...,e7,e7scoring,e8,e8scoring,e9,e9scoring,e10,e10scoring,e11,e11scoring
count,66.000000,66.000000,66.000000,66.000000,43.000000,66.000000,57.00000,66.000000,52.000000,66.000000,...,63.000000,55.000000,57.000000,50.000000,49.00000,44.000000,27.000000,27.000000,7.000000,7.000000
mean,5.969697,5.878788,1.454545,1.106061,1.395349,1.409091,1.54386,1.136364,1.365385,1.303030,...,1.380952,1.454545,1.333333,1.520000,1.55102,1.522727,1.259259,1.518519,1.285714,1.428571
std,2.218591,2.651648,0.501745,1.039657,0.494712,0.976292,0.50250,0.857301,0.486236,0.944127,...,0.990741,0.502519,0.872872,0.504672,1.02187,0.505258,0.446576,0.509175,0.755929,0.534522
min,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.00000,0.000000,1.000000,0.000000,...,0.000000,1.000000,0.000000,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,4.250000,4.000000,1.000000,0.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,6.000000,6.000000,1.000000,1.000000,1.000000,1.000000,2.00000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,2.000000,1.00000,2.000000,1.000000,2.000000,1.000000,1.000000
75%,8.000000,7.000000,2.000000,2.000000,2.000000,2.000000,2.00000,1.750000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,1.500000,2.000000,1.000000,2.000000
max,11.000000,11.000000,2.000000,4.000000,2.000000,5.000000,2.00000,3.000000,2.000000,4.000000,...,4.000000,2.000000,4.000000,2.000000,4.00000,2.000000,2.000000,2.000000,3.000000,2.000000

In [4]:
ends = ['e{}'.format(i) for i in range(1, 12)]
scoring = ['{}scoring'.format(e) for e in ends]

def check_scores(data):
    t1scored = data[scoring] == 1
    t2scored = data[scoring] == 2
    t1scored.columns = ends
    t2scored.columns = ends
    return (((data[t1scored].sum(axis=1) != data['final1']).sum() +
            (data[t2scored].sum(axis=1) != data['final2']).sum()),
            t1scored, t2scored)

value, t1scored, t2scored = check_scores(data)
print(value)

0

In [21]:
data['t1endsscored'] = t1scored.sum(axis=1)
data['t2endsscored'] = t2scored.sum(axis=1)

data['pointsperscoring1'] = data['final1'] / data['t1endsscored']
data['pointsperscoring2'] = data['final2'] / data['t2endsscored']

data['endsplayed'] = data[ends].notnull().sum(axis=1)
data['game_number'] = data.index

In [22]:
team1won = data['final1'] > data['final2']

def determine_winning_team(x):
    return 1 if x else 2

data['winner'] = team1won.apply(determine_winning_team)
data.head()

,Team1,Team2,final1,final2,LSFE,e1,e1scoring,e2,e2scoring,e3,...,e10scoring,e11,e11scoring,t1endsscored,t2endsscored,pointsperscoring1,pointsperscoring2,endsplayed,game_number,winner
0,Brown-USA,Feltscher-SUI,4,5,1,1,1,2,2,1,...,2,NaN,NaN,4,4,1.00,1.25,10,0,2
1,Fujisawa-JAP,Kauste-FIN,7,5,2,1,2,2,1,1,...,NaN,NaN,NaN,4,4,1.75,1.25,9,1,1
2,Sidorova-RUS,Apollonio-ITA,8,2,1,2,1,1,1,3,...,NaN,NaN,NaN,5,2,1.60,1.00,8,2,1
3,Carey-CAN,Nielsen-DEN,8,7,2,3,2,1,2,2,...,2,1,1,5,5,1.60,1.40,11,3,1
4,Apollonio-ITA,Fujisawa-JAP,3,10,2,0,NaN,3,2,1,...,NaN,NaN,NaN,3,4,1.00,2.50,8,4,2

OK, we should have all of the data split up into a very basic form, so we can create a dataframe where the teams in each game are split.

In [23]:
columns = ['game', 'team_name', 'final_score', 'scoring_ends',
           'points/end', 'ends_played', 'LSFE', 'winner']

team1 = data[['game_number', 'Team1', 'final1', 't1endsscored',
              'pointsperscoring1', 'endsplayed', 'LSFE', 'winner']]
team1.columns = columns
team1.set_index(['game'], inplace=True)
team1.loc[:, 'won'] = team1.apply(lambda x: x['winner'] == 1, axis=1)
team1.loc[:, 'started_hammer'] = team1.apply(lambda x: x['LSFE'] == 1, axis=1)

team2 = data[['game_number', 'Team2', 'final2', 't2endsscored',
              'pointsperscoring2', 'endsplayed', 'LSFE', 'winner']]
team2.columns = columns
team2.set_index(['game'], inplace=True)
team2.loc[:, 'won'] = team2.apply(lambda x: x['winner'] == 2, axis=1)
team2.loc[:, 'started_hammer'] = team2.apply(lambda x: x['LSFE'] == 2, axis=1)

team1.head()

/home/mikemoran/.local/lib/python3.4/site-packages/pandas-0.16.1_119_g342c91b-py3.4-linux-x86_64.egg/pandas/core/indexing.py:240: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/home/mikemoran/.local/lib/python3.4/site-packages/pandas-0.16.1_119_g342c91b-py3.4-linux-x86_64.egg/pandas/core/indexing.py:406: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,team_name,final_score,scoring_ends,points/end,ends_played,LSFE,winner,won,started_hammer
game,,,,,,,,,
0,Brown-USA,4,4,1.00,10,1,2,False,True
1,Fujisawa-JAP,7,4,1.75,9,2,1,True,False
2,Sidorova-RUS,8,5,1.60,8,1,1,True,True
3,Carey-CAN,8,5,1.60,11,2,1,True,False
4,Apollonio-ITA,3,3,1.00,8,2,2,False,False

In [24]:
team1['won'].sum() / team1['won'].count()

0.54545454545454541

In [25]:
team1[team1['won'] & team1['started_hammer']]['won'].sum() / team1['won'].count()

0.36363636363636365

In [26]:
teamdata = pandas.concat([team1, team2])
teamdata.drop(['LSFE', 'winner'], axis=1, inplace=True)
teamdata.shape

(132, 7)

We can look at the data by team name to see if we see any trends. For our predictions, we'll also want to look at the standard deviations, since we'll need those for predicting the outcomes of the games.

In [34]:
means = teamdata.groupby(['team_name']).mean()
stds = teamdata.groupby(['team_name']).std(ddof=0)

First, let's create pairings of the teams. Each pairing will eventually be predicted by using the above data as to which team would win.

In [38]:
from itertools import combinations

names = teamdata['team_name'].unique()
pairings = [p for p in combinations(names, 2)]
# pairings

[('Brown-USA', 'Fujisawa-JAP'),
 ('Brown-USA', 'Sidorova-RUS'),
 ('Brown-USA', 'Carey-CAN'),
 ('Brown-USA', 'Apollonio-ITA'),
 ('Brown-USA', 'Muirhead-SCO'),
 ('Brown-USA', 'Driendl-GER'),
 ('Brown-USA', 'Nielsen-DEN'),
 ('Brown-USA', 'Sigfridsson-SWE'),
 ('Brown-USA', 'Kauste-FIN'),
 ('Brown-USA', 'Feltscher-SUI'),
 ('Brown-USA', 'Kim-KOR'),
 ('Fujisawa-JAP', 'Sidorova-RUS'),
 ('Fujisawa-JAP', 'Carey-CAN'),
 ('Fujisawa-JAP', 'Apollonio-ITA'),
 ('Fujisawa-JAP', 'Muirhead-SCO'),
 ('Fujisawa-JAP', 'Driendl-GER'),
 ('Fujisawa-JAP', 'Nielsen-DEN'),
 ('Fujisawa-JAP', 'Sigfridsson-SWE'),
 ('Fujisawa-JAP', 'Kauste-FIN'),
 ('Fujisawa-JAP', 'Feltscher-SUI'),
 ('Fujisawa-JAP', 'Kim-KOR'),
 ('Sidorova-RUS', 'Carey-CAN'),
 ('Sidorova-RUS', 'Apollonio-ITA'),
 ('Sidorova-RUS', 'Muirhead-SCO'),
 ('Sidorova-RUS', 'Driendl-GER'),
 ('Sidorova-RUS', 'Nielsen-DEN'),
 ('Sidorova-RUS', 'Sigfridsson-SWE'),
 ('Sidorova-RUS', 'Kauste-FIN'),
 ('Sidorova-RUS', 'Feltscher-SUI'),
 ('Sidorova-RUS', 'Kim-KOR'),
 ('Carey-CAN', 'Apollonio-ITA'),
 ('Carey-CAN', 'Muirhead-SCO'),
 ('Carey-CAN', 'Driendl-GER'),
 ('Carey-CAN', 'Nielsen-DEN'),
 ('Carey-CAN', 'Sigfridsson-SWE'),
 ('Carey-CAN', 'Kauste-FIN'),
 ('Carey-CAN', 'Feltscher-SUI'),
 ('Carey-CAN', 'Kim-KOR'),
 ('Apollonio-ITA', 'Muirhead-SCO'),
 ('Apollonio-ITA', 'Driendl-GER'),
 ('Apollonio-ITA', 'Nielsen-DEN'),
 ('Apollonio-ITA', 'Sigfridsson-SWE'),
 ('Apollonio-ITA', 'Kauste-FIN'),
 ('Apollonio-ITA', 'Feltscher-SUI'),
 ('Apollonio-ITA', 'Kim-KOR'),
 ('Muirhead-SCO', 'Driendl-GER'),
 ('Muirhead-SCO', 'Nielsen-DEN'),
 ('Muirhead-SCO', 'Sigfridsson-SWE'),
 ('Muirhead-SCO', 'Kauste-FIN'),
 ('Muirhead-SCO', 'Feltscher-SUI'),
 ('Muirhead-SCO', 'Kim-KOR'),
 ('Driendl-GER', 'Nielsen-DEN'),
 ('Driendl-GER', 'Sigfridsson-SWE'),
 ('Driendl-GER', 'Kauste-FIN'),
 ('Driendl-GER', 'Feltscher-SUI'),
 ('Driendl-GER', 'Kim-KOR'),
 ('Nielsen-DEN', 'Sigfridsson-SWE'),
 ('Nielsen-DEN', 'Kauste-FIN'),
 ('Nielsen-DEN', 'Feltscher-SUI'),
 ('Nielsen-DEN', 'Kim-KOR'),
 ('Sigfridsson-SWE', 'Kauste-FIN'),
 ('Sigfridsson-SWE', 'Feltscher-SUI'),
 ('Sigfridsson-SWE', 'Kim-KOR'),
 ('Kauste-FIN', 'Feltscher-SUI'),
 ('Kauste-FIN', 'Kim-KOR'),
 ('Feltscher-SUI', 'Kim-KOR')]